.breadcrumb_wrap, .breadcrumb_list, .breadcrumb_item {
    position: relative;
    z-index: 10;
    display: inline-block;
    vertical-align: top;
}
.breadcrumb_wrap {
    width: 100%;
    position: relative;
    padding-top: 20px;
}
.breadcrumb_wrap a {
    color: #555;
    position: relative;
    padding-bottom: 8px;
    line-height: 20px;
}

.ic_home {
    width: 20px;
    height: 20px;
}

.breadcrumb_wrap .ic_carousel_up_white, .breadcrumb_wrap .ic_carousel_down_white  {
    width: 15px;
    height: 15px;
    padding: auto;
}
.breadcrumb_item:nth-child(n+2):before {
    content: "/";
    color: #c6c6c6;
    margin: 0 10px;
}


.sub_depth {
    display: none; /* 기본적으로 안 보이게 설정 */
    position: absolute;
    top: calc(100% + 5px); /* breadcrumb_item 바로 아래에 위치 */
    left: 0;
    width: 175px;
    padding: 15px 12px;
    background-color: #fff;
    border: 1px solid #d5d5d5;
    border-radius: 10px;
    box-sizing: border-box;
    z-index: 10;
    opacity: 0; /* 애니메이션 준비 */
    transform: translateY(-10px); /* 위에서 아래로 내려오는 효과 */
    transition: opacity 0.3s ease, transform 0.3s ease; /* 애니메이션 */
}

.breadcrumb_item:hover .sub_depth {
    display: block; /* 호버 시 보이게 설정 */
    opacity: 1; /* 투명도 조정 */
    transform: translateY(0); /* 아래로 내려오는 애니메이션 효과 */
    max-height: 120px;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: #d2d8d9 transparent;
}

.sub_depth li {
    margin-bottom: 5px;
}
.sub_depth li:last-child {
    margin-bottom: 0;
}
.breadcrumb_item:last-child .ic {
    padding-right: 20px; /* 마지막 i 태그에만 적용 */
}
.sub_depth a {
    font-size: 0.85rem;
}

.contents {
    display: flex;
    padding-top: 60px;
    justify-content: flex-start;
    align-items: flex-start;
}

.aside_menu {
    width: 170px;
    padding-right: 40px;
}
.aside_header {
    height: 2.8rem;
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    justify-content: space-between;
}
.aside_title {
    font-size: 21.8px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: -1px;
    white-space: pre-wrap;
}
.aside_header::after {
    content: "";
    display: inline-block;
    background-image: url("/image/svg/arrow-right-24.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
}
.aside_list li:not(:first-child) {
    margin-top: 8px;
}
.aside_list a {
    display: block;
    position: relative;
    font-size: 13px;
    line-height: 22px;
    letter-spacing: -1px;
    color: #555;
}
.aside_list a:hover {
    text-decoration: underline;
    color: #1D1D1D;
}

.content {
    width: 100%;
    position: relative;
}
.list_menu {
    position: relative;
    height: 2.8rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom : 1px solid #c6c6c6;
}
.list_menu_item {
    width: 150px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border : 1px solid #E4E4E4;
    border-bottom: none;
    border-top-left-radius: .375rem;
    border-top-right-radius: .375rem;
    z-index: 1;
    background-color: #f9f9f9;
}
.list_menu_item a{
    padding-left: .875rem;
    padding-right: .875rem;
    color: #8E8E8E;
}
.list_menu_item.tap {
    z-index: 2;
    background-color: white;
    border: 1.5px solid #c6c6c6;
    border-bottom: 1px solid white;
    box-sizing: content-box;
}
.list_menu_item.tap a {
    color: #1D1D1D;
}

.book_list {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding: 50px 0;
    flex-wrap: wrap;
    -webkit-font-smoothing: antialiased;
}

.book_box {
    position: relative;
    flex: 1 1 calc(50% - 15px);
    max-width: calc(50% - 15px);
    height: 300px;
    max-height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 0;
    column-count: 1;
    padding: 4px;
}
.book_box:first-child {
    margin-right: 30px;
}
.book-wrapper {
    width: 250px;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    margin: 0;
    column-count: 1;
  }
  .book-items {
    position: relative;
    cursor: default;
    padding: 15px;
    margin: 0;
    display: grid;
    break-inside: avoid;
  }
  
  .main-book-wrap {
    position: relative;
  }
  
  .book-cover {
    position: relative;
  }
  
  .book-cover .book-inside {
    position: absolute;
    width: 90%;
    height: 96%;
    top: 1%;
    left: 16px;
    border: 1px solid grey;
    border-radius: 2px 6px 6px 2px;
    background: white;
    box-shadow: 10px 40px 40px -10px #00000030, inset -2px 0 0 grey,
      inset -3px 0 0 #dbdbdb, inset -4px 0 0 white, inset -5px 0 0 #dbdbdb,
      inset -6px 0 0 white, inset -7px 0 0 #dbdbdb, inset -8px 0 0 white,
      inset -9px 0 0 #dbdbdb;
  }
  
  .book-cover .book-image {
    line-height: 0;
    position: relative;
    border-radius: 2px 6px 6px 2px;
    box-shadow: 6px 6px 18px -2px rgba(0, 0, 0, 0.2),
      24px 28px 40px -6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    transform: perspective(2000px) rotateY(0deg) translateX(0px) scaleX(1);
    cursor: pointer;
  }
  
  .book-image img {
    grid-row: 1 / -1;
    grid-column: 1;
    width: 100%;
    border-radius: 2px 6px 6px 2px;
  }
  
  .book_box {
    transition: background-color 0.3s ease; /* 부드러운 전환 효과 */
}

.book_box:hover {
    background-color: #F8F8F8; /* 호버 시 배경색 검은색 */
}

.book_box:hover .book-image {
    cursor: pointer;
    transform: perspective(2000px) rotateY(-15deg) translateX(-10px) scaleX(0.94);
    transform-style: preserve-3d;
    box-shadow: 6px 6px 12px -1px rgba(0, 0, 0, 0.1),
                20px 14px 16px -6px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease, box-shadow 0.5s ease; /* 부드러운 전환 효과 */
}

  
  .effect {
    position: absolute;
    width: 20px;
    height: 100%;
    margin-left: 16px;
    top: 0;
    border-left: 2px solid #00000010;
    background-image: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(255, 255, 255, 0) 100%
    );
    transition: all 0.5s ease;
    z-index: 5;
  }
  
  .light {
    width: 90%;
    height: 100%;
    position: absolute;
    border-radius: 3px;
    background-image: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.2) 100%
    );
    top: 0;
    right: 0;
    opacity: 0.1;
    transition: all 0.5s ease;
    z-index: 4;
  }
  
  .book-image:hover .effect{
      margin-left: 14px;
  }


.book_content {
    width: 50%;
    height: 100%;
    padding: 10px 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.book_title span {
    font-size: 20px;
    font-weight: 600;
    line-height: 19px; /* 줄 간격을 조금 더 넓게 설정 */
    color: #1D1D1D; /*트렌드 코리아 2025 - 2025 대한민국 소비트렌드 전망*/

    display: -webkit-box;
    -webkit-line-clamp: 2; /* 최대 2줄로 제한 */
    -webkit-box-orient: vertical; /* 세로 방향 정렬 */
    overflow: hidden; /* 넘치는 텍스트 숨김 */
    text-overflow: ellipsis; /* 말줄임표 표시 */
    white-space: normal; /* 여러 줄 표시 허용 */
}
.book_write span:nth-child(n+2)::before {
    content: "· ";
    margin: 0 3px;
}
.book_write, .book_score {
    padding: 10px 0;
}
.book_write span, .won, .discount, .book_reivew_wrap span{
    display: inline-block;
    color: #555;
    font-size: 15px;
}
.book_info, .book_rating_wrap {
    display: flex;
    gap: 10px;
}
.book_info {
    padding-top: 5px;
}
.discount, .book_rating_wrap {
    display: inline-flex;
    align-items: center;
}
.book_price {
    font-size: 17px;
}

.discount::before {
    content: "";
    display: inline-block;
    background-image: url("/image/svg/sale.svg");
    background-size: contain;
    width: 18px;
    height: 18px;
}


.book_score {
    display: flex;
    width: 100%;
}

.book_rating {
    letter-spacing: 5%;
}
.book_discount {
    display: flex;
}

.pagenation_area, .pagenation, .pagenation_num {
    display: flex;
    align-items: center;
    justify-content: center;
}
.pagenation {
    justify-content: space-around;
    gap: 2.2rem;
}
.pagenation i {
    width: 31px;
    height: 31px;
}
.pagenation_num {
    gap: 2rem;
    align-items: center;
}
.pagenation_num a {
    font-size: 15px;
    line-height: 24px;
    color: #555;
}
.pagenation_num .present {
    padding: 3px 10.7px;
    background-color: #497248;
    border-radius: 9999px;
}
.pagenation_num .present a {
    color: white;
}